{% extends 'Admin/base.html.twig' %}

{% block body %}

    <div class="col-12">
        <a href="{{ path('app_article_add') }}" class="btn btn-primary"> Add an article </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

                {% for article in articles %}
                    <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="{{ path('app_article_edit', {'id' : article.id}) }}" class="btn btn-primary btn-action edit-url"> Edit </a>
                            <span class="btn btn-primary btn-action" onclick="ConfirmDelete('{{ path('app_article_delete', {'id' : article.id}) }}', 'Are you sure you want to delete this article?')"> Delete </span>
                            {% if article.comments|length > 0 %}
                                <a href="{{ path('manage_comments', {'id' : article.id}) }}" class="btn btn-primary btn-action"> Manage comments ({{ article.comments|length }}) </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <td colspan="8" class="text-center">
                        No articles found!
                    </td>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
