{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} news {% endblock %}

{% block body %}

    <div class="card mb-4">
        {#<img alt="Card image cap" class="card-img-top" src="http://placehold.it/750x300">#}
        {% if article.pictureFilename %}
            <img alt="Card image cap" class="card-img-top" src="{{ asset( fileDir ~ article.pictureFilename ) }}">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.content|nl2br }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ article.dateForArticle }} <br>
            Category: {% for category in article.categories %} <a class="badge badge-secondary" href="{{ path('view_category', {'id' : category.id}) }}">{{ category.name }}</a> {% endfor %}
        </div>





    </div>

{% endblock %}
